<div class="container">
  <br /><h2>Thêm tài khoản người dùng</h2><br>
  <a href="/admin/users" class="btn btn-primary">Quay lại</a><div></div><br />
  <form
    method="post"
    action="/admin/users/more-user/post"
    style="padding-left: 20px;"
    class="row g-3"
  >
    <div class="col-auto">
      <label for="">Name</label>
      <input type="text" name="name" id="" /><br />
      <label for="">UserName</label>
      <input type="text" name="username" id="" /><br />
      <label for="inputPassword2" class="visually-hidden">Password</label>
      <input type="password" name="password" id="inputPassword2" /><br />
      <div style="float: right;">
        <button type="submit" class="btn btn-primary">Thêm tài khoản</button>
      </div>
    </div>
  </form>

</div>