<footer class="footer">
                <div class="row">
                    <div class="col col-sm-2">
                        <div class="footer__body">
                            <h3 class="footer__body-heading">
                                CONTACT US
                            </h3>
                            <ul class="footer__body-list">
                                <li class="footer__body-item1">
                                    <div class="footer__body-item1-link">
                                        <span class="footer__body-item1-text">Hẻm 350/77, Phường 13, Lê Đức Thọ</span>
                                    </div>
                                </li>
                                <li class="footer__body-item1">
                                    <div class="footer__body-item1-link">
                                        <span class="footer__body-item1-text">0914726153</span>
                                    </div>
                                </li>
                                <li class="footer__body-item1">
                                    <div class="footer__body-item-link">
                                        <a href="email" class="footer__body-item1-link1">vietminh794@sneaker.com</a>
                                        <a href="email" class="footer__body-item1-link2">vietminh@simen.com</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-sm-2">
                        <div class="footer__body">
                            <h3 class="footer__body-heading">
                                SERVICE
                            </h3>
                            <ul class="footer__body-list">
                                <li class="footer__body-item">
                                    <div class="footer__body-item-link">
                                        <span class="footer__body-item-text">Prices & Currencies</span>
                                    </div>
                                </li>
                                <li class="footer__body-item">
                                    <div class="footer__body-item-link">
                                        <span class="footer__body-item-text">Secure Payment</span>
                                    </div>
                                </li> 
                                <li class="footer__body-item">
                                    <div class="footer__body-item-link">
                                        <span class="footer__body-item-text">Delivery Times & Costs</span>
                                    </div>
                                </li>
                                <li class="footer__body-item">
                                    <div class="footer__body-item-link">
                                        <span class="footer__body-item-text">Returns & Exchanges</span>
                                    </div>
                                </li>
                                <li class="footer__body-item">
                                    <div class="footer__body-item-link">
                                        <span class="footer__body-item-text">FAQ’s</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-sm-2">
                        <div class="footer__body">
                            <h3 class="footer__body-heading">
                                ACCOUNT
                            </h3>
                            <ul class="footer__body-list">
                                <li class="footer__body-item">
                                    <div class="footer__body-item-link">
                                        <span class="footer__body-item-text">My Account</span>
                                    </div>
                                </li>
                                <li class="footer__body-item">
                                    <div class="footer__body-item-link">
                                        <span class="footer__body-item-text">Wishlist</span>
                                    </div>
                                </li> 
                                <li class="footer__body-item">
                                    <div class="footer__body-item-link">
                                        <span class="footer__body-item-text">Order History</span>
                                    </div>
                                </li>
                                <li class="footer__body-item">
                                    <div class="footer__body-item-link">
                                        <span class="footer__body-item-text">Specials</span>
                                    </div>
                                </li>
                                <li class="footer__body-item">
                                    <div class="footer__body-item-link">
                                        <span class="footer__body-item-text">Gift Vouchers</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-sm-2">
                        <div class="footer__body">
                            <h3 class="footer__body-heading">
                                INFORMATION
                            </h3>
                            <ul class="footer__body-list">
                                <li class="footer__body-item">
                                    <div class="footer__body-item-link">
                                        <span class="footer__body-item-text">My Account</span>
                                    </div>
                                </li>
                                <li class="footer__body-item">
                                    <div class="footer__body-item-link">
                                        <span class="footer__body-item-text">Wishlist</span>
                                    </div>
                                </li> 
                                <li class="footer__body-item">
                                    <div class="footer__body-item-link">
                                        <span class="footer__body-item-text">Order History</span>
                                    </div>
                                </li>
                                <li class="footer__body-item">
                                    <div class="footer__body-item-link">
                                        <span class="footer__body-item-text">Specials</span>
                                    </div>
                                </li>
                                <li class="footer__body-item">
                                    <div class="footer__body-item-link">
                                        <span class="footer__body-item-text">Gift Vouchers</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col col-sm-2">
                        <div class="footer__body">
                            <h3 class="footer__body-heading">
                                NEWSLETTER
                            </h3>
                            <ul class="footer__body-list">
                                <li class="footer__body-item">
                                    <span class="footer__body-item-text">Register your email for news</span>
                                </li>
                                <li class="footer__body-item">
                                    <div class="footer__body-item-input">
                                        <input type="text" placeholder="Your email here" class="footer__body-item-ipt">
                                    </div>
                                </li>
                                <li class="footer__body-item">
                                    <div class="footer__body-item-button">
                                        <button class="footer__body-item-btn">
                                            SUBSCRIBE
                                        </button>
                                    </div>
                                    
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
        </footer>
        <footer class="footer_bonus">
            <div class="grid wide">
                <div class="footer_bonus-body">
                    <span class="footer_bonus-text">
                        © 2022 Ecommerce software by Wordpress™ Designed by vietminh794@gmail.com
                    </span>
                    <div class="footer_bonus-body-item">
                        <div class="footer_bonus-img">
                            <img src="./assets/image/45.png" alt="">
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>
    </div>

